@charset "UTF-8";
* {
    font-family: var(--font-principal);
    margin: 0;
    padding: 0;
}
.bloco-entrada-de-dados {
    border: 3px solid var(--cor-base);
    width: 270px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    background-color: var(--cor-fundo);
    box-shadow: 2px 2px 3px var(--sombra-clara);
}
.entrada-de-dados label {
    display: block;
    margin-top: 5px;
    font-size: 19px;
    color: var(--cor-contraste);
}
.entrada-de-dados input[type="number"]{
    margin: auto;
    width: 200px;
    margin-top: 5px;
    text-align: center;
    height: 24px;
    color: var(--cor-contraste);
    font-weight: bold;
    outline: 2px solid transparent;
    border: 2px solid var(--cor-base);
    display: block;
    position: relative;
}
.entrada-de-dados input[type="number"]:focus {
    outline-color: var(--cor-base);
}
.bloco-entrada-de-dados input[type="button"] {
    width: 50%;
    height: 30px;
    margin: 5px 0;
}