@charset "UTF-8";
.botao {
    padding: 3px 12px;
    width: fit-content;
    border: 2.3px solid var(--azul-claro);
    font-weight: bold;
    margin: 0px auto 5px auto;
    background: var(--azul-claro);
    color: var(--branco);
}
.botao:hover {
    background: var(--branco);
    color: var(--azul-claro);
}
.botao:active {
    background: var(--azul-claro);
    color: var(--branco);
}
.botao-escuro {
    border-color: var(--azul-escuro);
    background: var(--azul-escuro);
}
.botao-escuro:hover {
    color: var(--azul-escuro);
}
.botao-escuro:active {
    background: var(--azul-escuro);
    color: var(--branco);
}
.pastas {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.pasta {
    display: flex;
    background-color: var(--branco);
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid var(--azul-claro);
    box-shadow: 2px 2px 3px var(--sombra-clara);
}
.pasta:active {
    background-color: var(--azul-claro);
}
.pasta a {
    text-decoration: none;
    color: var(--azul-claro);
    font-size: 20px;
    font-weight: bold;
}
.pasta a:active {
    color: var(--branco);
}