@charset "UTF-8";
.botao {
    padding: 3px 12px;
    width: fit-content;
    border: 2.3px solid var(--azul-claro);
    font-weight: bold;
    margin: 0px auto 5px auto;
    background: var(--azul-claro);
    color: var(--branco);
}
.botao:hover {
    background: var(--branco);
    color: var(--azul-claro);
}
.botao:active {
    background: var(--azul-claro);
    color: var(--branco);
}
.botao-escuro {
    border-color: var(--azul-escuro);
    background: var(--azul-escuro);
}
.botao-escuro:hover {
    color: var(--azul-escuro);
}
.botao-escuro:active {
    background: var(--azul-escuro);
    color: var(--branco);
}
.botao-link {
    text-decoration: none;
    background-color: var(--azul-claro);
    padding: 5px 8px;
    font-size: 18px;
    font-weight: bold;
    color: var(--branco);
    border: 3.2px solid var(--azul-claro);
}
.botao-link:hover {
    background: var(--branco);
    color: var(--azul-claro);
}
.botao-link:active {
    background-color: var(--azul-claro);
    color: var(--branco);
}