@charset "UTF-8";
:root {
    --azul-claro: cornflowerblue;
    --azul-medio: lightskyblue;
    --azul-escuro: steelblue;
    --ver-claro: springgreen;
    --sombra-clara: #cacaca;
    --sombra-media: #a1a1a1;
    --sombra-escura: #7e7e7e;
    --contraste-claro: #1f6dad;
    --contraste-medio: #19588b;
    --contraste-escuro: #0a406d;
    --preto: black;
    --branco: white;
}
:root {
    --font-principal: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}
body {
    padding: 5px;
}