/*ERRO*/
div.bloco-de-erro {
    margin-top: 10px;
    background-color: var(--branco);
    width: 270px;
    box-shadow: 2px 2px 2px var(--sombra-clara);
    border: 3px solid var(--preto);
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
div.bloco-de-erro h1 {
    background-color: var(--azul-escuro);
    margin: -5px;
    border: 3px solid var(--preto);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: var(--branco);
}
div.bloco-de-erro p {
    color: var(--contraste-escuro);
    font-size: 18px;
}
/*FIM ERRO*/