/*ERRO*/
div.bloco-de-erro {
    margin-top: 10px;
    background-color: var(--branco);
    width: 270px;
    box-shadow: 2px 2px 2px var(--sombra-clara);
    border: 3px solid var(--preto);
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
div.bloco-de-erro h1 {
    background-color: var(--azul-escuro);
    margin: -5px;
    border: 3px solid var(--preto);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: var(--branco);
}
div.bloco-de-erro p {
    color: var(--contraste-escuro);
    font-size: 18px;
}
/*ENTRADA DE DADOS*/
div.entrada-de-dados {
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: center;
    align-items: center;
    padding: 7px 2px;
    gap: 10px;
    color: var(--branco);
    font-weight: bold;
    margin: 7px auto;
    box-shadow: 2px 2px 3px var(--sombra-clara);
}
div.entrada-de-dados input {
    width: 60%;
    padding: 2px;
    border: 0.5px solid var(--azul-claro);
    text-align: center;
    color: var(--azul-claro);
    font-weight: bold;
    font-size: 15.4px;
}
div.entrada-de-dados input:focus {
    border-color: var(--azul-claro);
    outline: 0 solid red;
}
/*ENTRADA DE DADOS FIM*/
/*FIM ERRO*/
footer {
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}