@charset "UTF-8";
section {
    width: 280px;
    background-color: #6262d1;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 18px 8px 18px;
    box-shadow: 2px 2px 2px black;
    color: white;
    box-sizing: border-box;
}
section.calculos h1 {
    text-align: center;
    margin: 5px;
}
section.calculos label {
    display: block;
    text-align: center;
    margin: 5px 0;
}
section.calculos input {
    margin: 7px auto;
    display: block;
}
section.calculos input[type="number"] {
    width: 200px;
    height: 25px;
    border: 2px solid #242492;
    border-radius: 4px;
}
input[type="button"] {
    margin: auto;
    display: block;
    width: 160px;
    height: 30px;
    background-color: #6262d1;
    border: 2px solid transparent;
    color: white;
    font-weight: bold;
}
input[type="button"]:hover {
    background: #6262d1;
    color: #1010b9;
    border: 2px solid #1010b9;
}
input[type="button"]:active {
    background-color: white;
    border: 2px solid #1010b9;
}
section.respostas {
    padding: 10px;
}
section.respostas h1 {
    font-size: 15px;
}